body {
    text-align: Center;
    font-size: 20pt;
    color: Teal;
    background-color: Pink;
}

a {
    font-weight: Bold;
    text-decoration: None;
    color: Teal;
}

table {
    margin: Auto;
    text-align: Right;
    border-collapse: Collapse;
}

td {
    border-style: Solid;
    border-width: 1px;
    padding: 6px;
}
